@mixin material-shadow($level, $color: #000000, $umbra: 0.2, $penumbra: 0.14, $ambient: 0.12) {
    
    $umbra-value: map-get($umbra-map, $level);
    $penumbra-value: map-get($penumbra-map, $level);
    $ambient-value: map-get($ambient-map, $level);

    $umbra-color: rgba($color, $umbra);
    $penumbra-color: rgba($color, $penumbra);
    $ambient-color: rgba($color, $ambient);

    box-shadow: #{$umbra-value} #{$umbra-color}, #{$penumbra-value} #{$penumbra-color}, #{$ambient-value} #{$ambient-color};
}


@mixin font($size, $weight) {
    font-size: get-font-size($size);
    font-weight: get-font-weight($weight);
}

@mixin absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}