
$grid-max-columns: 12;

$sizes: (
    "xs": 0px,
    "sm": 768px,
    "md": 992px,
    "lg": 1200px
);

$sizes-names: map-keys($sizes);

@each $size in $sizes-names {
    @media (min-width: map-get($sizes, $size)) {
        @for $col-size from 1 through $grid-max-columns {
            .col-#{$size}-#{$col-size} {
                max-width: percentage(1 / $col-size);
            }
        }
    }
}


.space-around {
    margin: get-gap("medium");
}

.space-left {
    margin-left: get-gap("medium");
}

.space-right {
    margin-right: get-gap("medium");
}

.space-top {
    margin-top: get-gap("medium");
}

.space-bottom {
    margin-bottom: get-gap("medium");
}



.container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.row {
    display: flex; 
    position: relative;
    flex-wrap: wrap;
}


.main-stretch {
    justify-content: stretch;
}

.main-start {
    justify-content: flex-start;
}

.main-end {
    justify-content: flex-end;
}

.main-center {
    justify-content: center;
}

.main-space-between {
    justify-content: space-between;
}

.main-space-around {
    justify-content: space-around;
}

.main-space-evenly {
    justify-content: space-evenly;
}

.cross-stretch {
    align-items: stretch;
}

.cross-start {
    align-items: start;
}

.cross-end {
    align-items: end;
}

.cross-center {
    align-items: center;
}

.cross-baseline {
    align-items: baseline;
}
