main {
    grid-column: 2;
    grid-row: 2;
    padding: get-gap("huge");
    padding-bottom: 0;
    padding-right: 0;
    // min-height: calc(100vh - 50px);
    overflow: auto;

    & > h2 {
        margin-bottom: get-gap("big");
    }

    & > .avatars {
        margin-bottom: get-gap("huge");

        & > button {
            margin-bottom: get-gap("huge");
        }
    }

    .actions > *:not(:first-child) {
        margin-left: get-gap("medium");
    }
}
