body {
    all: unset;
    background: #F8F9FF;
}

header {
    all: unset;
    background: rgb(0, 27, 41);
    display: flex;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
}

main {
    all: unset;
    height: calc(100% - 50px - 35px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    width: 50%;
    background: white;
    padding: var(--gap-huge);
    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}
#content > form > div > .container {
    margin-bottom: 4rem;
}

#content > form > div > .container > .row {
    margin-bottom: var(--gap-big);
}

h2 {
    margin-bottom: 30px;
    font-size: 2.25rem;
}

.description {
    font-size: var(--font-size-regular);
}


nav {
    display: flex;
    height: 35px;
    justify-content: center;
    margin-top: 50px;
}

nav > div {
    --color: var(--border-color);

    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    border: 2px solid var(--color);
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
    color: var(--color);
}

nav > div:not(:first-child)::before {
    display: block;
    position: absolute;
    content: "";
    left: -52px;
    width: 50px;
    height: 2px;
    background: var(--color);
}

nav > div:not(:first-child) {
    margin-left: 50px;
}