@use "../abstracts" as *;

body {
    display: block;
    background: background(third);
}

.auth {
    @include material-shadow(4);
    padding: space(huge) space(big);
    background: background(primary);
    border-radius: borderRadius(medium);

    min-width: 33%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
        margin-bottom: space(huge);
        font-size: fontSize(huge);
    }

    & > .text-field {
        width: 100%;
        margin-bottom: space(big);
    }

    & > a {
        margin: space(regular) 0 space(medium) 0;
        
    }

    a, p {
        @include font(700, small);
    }

    a {
        color: color(info);
    }
}