parameters:
    level: 8
    paths:
        - src
        - pages
        - api
        - server
    bootstrapFiles:
        - loader/autoload.php
    ignoreErrors:
        -
            message: '#Construct empty\(\) is not allowed. Use more strict comparison.#'
            paths:
                - src
                - pages
                - api
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon