.container {
  display: flex;
  flex-flow: column wrap;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.h-space-between {
  justify-content: space-between;
}

.h-space-around {
  justify-content: space-around;
}

.h-space-evenly {
  justify-content: space-evenly;
}

.top {
  align-items: flex-start;
}

.middle {
  align-items: center;
}

.bottom {
  align-items: flex-end;
}

.v-space-between {
  align-content: space-between;
}

.v-space-around {
  align-content: space-around;
}

.v-space-evenly {
  align-content: space-evenly;
}

.full {
  flex: 1;
  width: 100%;
  height: 100%;
}

.full-width {
  flex: 1;
  width: 100%;
}

:root {
  --font-900: rgb(33, 33, 33);
  --font-800: rgb(66, 66, 66);
  --font-700: rgb(97, 97, 97);
  --font-600: rgb(117, 117, 117);
  --font-500: rgb(158, 158, 158);
  --font-400: rgb(189, 189, 189);
  --font-300: rgb(224, 224, 224);
  --font-200: rgb(238, 238, 238);
  --font-100: rgb(245, 245, 245);
  --border-dark: 187, 187, 187;
  --border: 220, 220, 220;
  --border-light: 227, 227, 227;
  --border-text: 33, 33, 33;
  --primary-dark: 210, 108, 0;
  --primary: 247, 127, 0;
  --primary-light: 249, 153, 51;
  --primary-text: 245, 245, 245;
  --secondary-dark: 213, 140, 64;
  --secondary: 250, 165, 75;
  --secondary-light: 251, 183, 111;
  --secondary-text: 33, 33, 33;
  --error-dark: 179, 40, 40;
  --error: 211, 47, 47;
  --error-light: 220, 89, 89;
  --error-text: 33, 33, 33;
  --warning-dark: 215, 184, 45;
  --warning: 253, 216, 53;
  --warning-light: 253, 224, 93;
  --warning-text: 33, 33, 33;
  --success-dark: 0, 0, 0;
  --success: 0, 230, 118;
  --success-light: 255, 255, 255;
  --success-text: 245, 245, 245;
  --info-dark: 71, 93, 216;
  --info: 83, 109, 254;
  --info-light: 117, 138, 254;
  --info-text: 33, 33, 33;
  --border-small: 4px;
  --border-regular: 6px;
  --border-medium: 8px;
  --border-big: 10px;
}

.border {
  --color: rgb(var(--border)) !important;
  --text: rgb(var(--border-text)) !important;
  --color-light: rgb(var(--border-light)) !important;
  --color-dark: rgb(var(--border-dark)) !important;
  --color-raw: var(--border) !important;
}

.primary {
  --color: rgb(var(--primary)) !important;
  --text: rgb(var(--primary-text)) !important;
  --color-light: rgb(var(--primary-light)) !important;
  --color-dark: rgb(var(--primary-dark)) !important;
  --color-raw: var(--primary) !important;
}

.secondary {
  --color: rgb(var(--secondary)) !important;
  --text: rgb(var(--secondary-text)) !important;
  --color-light: rgb(var(--secondary-light)) !important;
  --color-dark: rgb(var(--secondary-dark)) !important;
  --color-raw: var(--secondary) !important;
}

.error {
  --color: rgb(var(--error)) !important;
  --text: rgb(var(--error-text)) !important;
  --color-light: rgb(var(--error-light)) !important;
  --color-dark: rgb(var(--error-dark)) !important;
  --color-raw: var(--error) !important;
}

.warning {
  --color: rgb(var(--warning)) !important;
  --text: rgb(var(--warning-text)) !important;
  --color-light: rgb(var(--warning-light)) !important;
  --color-dark: rgb(var(--warning-dark)) !important;
  --color-raw: var(--warning) !important;
}

.success {
  --color: rgb(var(--success)) !important;
  --text: rgb(var(--success-text)) !important;
  --color-light: rgb(var(--success-light)) !important;
  --color-dark: rgb(var(--success-dark)) !important;
  --color-raw: var(--success) !important;
}

.info {
  --color: rgb(var(--info)) !important;
  --text: rgb(var(--info-text)) !important;
  --color-light: rgb(var(--info-light)) !important;
  --color-dark: rgb(var(--info-dark)) !important;
  --color-raw: var(--info) !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 200px 1fr;
}

ul,
li {
  list-style: none;
}

.space-small {
  margin: 5px;
}

.space-small-top {
  margin-top: 5px;
}

.space-small-right {
  margin-right: 5px;
}

.space-small-bottom {
  margin-bottom: 5px;
}

.space-small-left {
  margin-left: 5px;
}

.space-regular {
  margin: 10px;
}

.space-regular-top {
  margin-top: 10px;
}

.space-regular-right {
  margin-right: 10px;
}

.space-regular-bottom {
  margin-bottom: 10px;
}

.space-regular-left {
  margin-left: 10px;
}

.space-medium {
  margin: 15px;
}

.space-medium-top {
  margin-top: 15px;
}

.space-medium-right {
  margin-right: 15px;
}

.space-medium-bottom {
  margin-bottom: 15px;
}

.space-medium-left {
  margin-left: 15px;
}

.space-big {
  margin: 20px;
}

.space-big-top {
  margin-top: 20px;
}

.space-big-right {
  margin-right: 20px;
}

.space-big-bottom {
  margin-bottom: 20px;
}

.space-big-left {
  margin-left: 20px;
}

.space-huge {
  margin: 25px;
}

.space-huge-top {
  margin-top: 25px;
}

.space-huge-right {
  margin-right: 25px;
}

.space-huge-bottom {
  margin-bottom: 25px;
}

.space-huge-left {
  margin-left: 25px;
}

.space-extreme {
  margin: 40px;
}

.space-extreme-top {
  margin-top: 40px;
}

.space-extreme-right {
  margin-right: 40px;
}

.space-extreme-bottom {
  margin-bottom: 40px;
}

.space-extreme-left {
  margin-left: 40px;
}

.icon {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-smoothing: antialiased;
}
.icon.round {
  font-family: "Material Icons Round";
}
.icon.outline {
  font-family: "Material Icons Outlined";
}
.icon.extra-small {
  font-size: 15px;
}
.icon.small {
  font-size: 20px;
}
.icon.medium {
  font-size: 24px;
}
.icon.big {
  font-size: 30px;
}
.icon.colored {
  color: var(--color);
}

body > header {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 999;
}
body > header > h1 {
  font-size: 2.4rem;
  color: var(--font-900);
  font-weight: 900;
  margin: 15px 0 40px 15px;
}
body > header > nav {
  font-size: 1.6rem;
  color: var(--font-900);
  font-weight: 700;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
}
body > header > nav > .item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
body > header > nav > .item.dropdown {
  display: block;
}
body > header > nav > .item.dropdown > div {
  display: flex;
  align-items: center;
}
body > header > nav > .item.dropdown::before {
  display: inline-block;
  content: "chevron_right";
  font-family: "Material Icons round";
  position: absolute;
  right: 9px;
  font-weight: lighter;
  font-size: 25px;
  transition: transform 200ms ease-out;
}
body > header > nav > .item.dropdown.expanded::before {
  transform: rotate(90deg);
}
body > header > nav > .item.dropdown > .text {
  flex-grow: 1;
}
body > header > nav > .item.dropdown > ul {
  margin-left: 34px;
  color: var(--font-700);
}
body > header > nav > .item.dropdown > ul > li {
  --project-color: rgb(var(--primary));
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.4rem;
}
body > header > nav > .item.dropdown > ul > li::before {
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 25%;
  background: var(--project-color);
  margin-right: 5px;
}
body > header > nav > .item.dropdown > ul > li.add {
  color: var(--font-500);
}
body > header > nav > .item.dropdown > ul > li.add::before {
  opacity: 0;
}
body > header > nav > .item.active {
  color: rgb(var(--primary));
}
body > header > nav > .item.active::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  width: 4px;
  height: 100%;
  background: rgb(var(--primary));
}
body > header > nav > .item.last {
  margin-top: auto;
}
body > header > nav > .item .text {
  margin-left: 10px;
}

h2, h3, h4 {
  display: inline-block;
}

h2 {
  font-size: 1.8rem;
  color: var(--font-900);
  font-weight: 900;
}

h3 {
  font-size: 1.6rem;
  color: var(--font-900);
  font-weight: 900;
}

h4 {
  font-size: 1.6rem;
  color: var(--font-800);
  font-weight: 700;
}

body > main {
  position: relative;
  background: #f4f4f4;
  padding: 25px 25px 0 25px;
}

.checkbox {
  --color: rgb(var(--info));
  cursor: pointer;
}
.checkbox > .background {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  border: 2px solid rgb(var(--border-dark));
  transition: border steps(2);
}
.checkbox > .background::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  background: var(--color);
  opacity: 0;
}
.checkbox.small > .background {
  width: 20px;
  height: 20px;
}
.checkbox.big > .background {
  width: 30px;
  height: 30px;
}
.checkbox.round {
  border-radius: 999px;
}
.checkbox.round::before {
  border-radius: 999px;
}
.checkbox > input {
  display: none;
}
.checkbox > input:checked + .background {
  border: none;
}
.checkbox > input:checked + .background::before {
  transition: opacity 250ms ease-in-out;
  opacity: 1;
}
.checkbox > input:checked + .background::after {
  position: absolute;
  display: block;
  content: "";
  width: 20%;
  height: 45%;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
}

button {
  --color: rgb(var(--primary));
  --text: rgb(var(--primary-text));
  --hover: rgb(var(--primary-light));
  border: 0;
  border-radius: 4px;
  padding: 5px 10px;
  background: var(--color);
  color: var(--text);
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  transition: color 200ms ease-out, background 200ms ease-out, box-shadow 200ms ease-out;
}
button:hover {
  cursor: pointer;
  background: var(--hover);
}
button.flat {
  border: 1px solid rgb(var(--border));
  background: white;
  --text: var(--font-800);
  font-weight: 700;
}
button.flat:hover, button.flat.no-border:hover {
  background: #d0d0d0;
}
button.flat.no-border {
  border: 0;
  background: transparent;
}
button.action {
  border: 1px solid var(--color);
  color: var(--color);
  background: white !important;
}
button.action:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
button.hover-shadow:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
button.no-padding {
  padding: 0;
}
button.icon, button > .icon {
  font-weight: 500;
  font-size: 20px;
  padding: 5px;
  color: var(--font-900);
}

.button-dropdown {
  display: flex;
  align-items: stretch;
}
.button-dropdown button:not(.dropdown) {
  padding-right: 5px;
  border-right: 1px solid rgb(var(--primary-text));
  border-radius: 4px 0 0 4px;
}
.button-dropdown button.dropdown {
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  padding: 0 5px;
}

.text-field {
  --color: rgb(var(--primary));
}
.text-field > .field {
  position: relative;
}
.text-field > .field > span {
  color: var(--font-600);
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 1.6rem;
  font-weight: 400;
  transition: all 200ms ease-out;
}
.text-field > .field:focus-within > span, .text-field > .field.focus > span {
  top: 10px;
  color: var(--color);
  font-size: 1.2rem;
}
.text-field > .field > input {
  outline: none;
  border: 0;
  border-radius: 4px 4px 0 0;
  background: rgb(var(--border-light));
  font-size: 1.6rem;
  padding: 15px 15px 5px 15px;
  border-bottom: 1px solid rgb(var(--border-dark));
}
.text-field > .field::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: center;
  transform: scaleX(0);
  background: var(--color);
  transition: transform 200ms ease-out;
}
.text-field > .field:focus-within::after, .text-field > .field.focus::after {
  transform: scaleX(1);
}
.text-field.outline {
  position: relative;
}
.text-field.outline > .field > span {
  top: 15px;
  background: white;
  padding: 0 5px;
}
.text-field.outline > .field:focus-within > span, .text-field.outline > .field.focus > span {
  top: 0;
  transform: translate(0, -50%);
}
.text-field.outline > .field > input {
  border-radius: 4px;
  background: white;
  padding: 15px 10px 15px 10px;
  border: 1px solid rgb(var(--border));
  transition: border-color 200ms ease-out;
}
.text-field.outline > .field > input:focus {
  border-color: var(--color);
}
.text-field.outline > .field::after {
  all: unset;
}

.progress-bar {
  display: flex;
  align-items: center;
}
.progress-bar > .bar {
  position: relative;
  width: 100px;
  height: 10px;
  background: rgb(var(--border));
  border-radius: 6px;
  margin-right: 5px;
}
.progress-bar > .bar > .completed {
  position: absolute;
  left: 0;
  background: rgb(var(--success));
  height: 10px;
  border-radius: 6px;
}

.task-list {
  margin-top: 20px;
  flex-grow: 1;
}
.task-list > .dropdown-header {
  font-size: 1.8rem;
  color: var(--font-900);
  font-weight: 900;
  display: flex;
  align-items: center;
}
.task-list > .dropdown-header > h3 {
  display: flex;
  align-items: center;
}
.task-list > .dropdown-header > h3::before {
  display: inline-block;
  content: "chevron_right";
  font-family: "Material Icons round";
  font-size: 20px;
  margin-right: 5px;
  transition: transform 200ms ease-out;
}
.expanded.task-list > .dropdown-header > h3::before {
  transform: rotate(90deg);
}

.task-list > .dropdown-header > .line {
  flex-grow: 1;
  height: 2px;
  background: rgb(var(--border));
  margin: 0 15px;
}

.task {
  padding: 15px;
  border-radius: 8px;
  background: white;
  margin-top: 15px;
}
.task > header {
  display: flex;
  justify-content: space-between;
}
.task > header > div {
  display: flex;
  align-items: center;
}
.task > header > div > .checkbox {
  margin-right: 10px;
}
.task > header > div > .important {
  font-size: 1.2rem;
  font-weight: 800;
  color: rgb(var(--warning-text));
  margin-right: 10px;
  border-radius: 999px;
  padding: 5px 10px;
  background: rgb(var(--warning));
}
.task > main {
  font-size: 1.4rem;
  color: var(--font-800);
  font-weight: 500;
}
.task > footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: var(--font-800);
}
.task > footer .tags {
  margin-right: 15px;
}
.task > footer .tags > .tag {
  margin-right: 5px;
}

.tag {
  --color: var(--primary);
  padding: 5px 10px;
  background: rgba(var(--color), 0.2);
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(var(--color));
}

.milestone-list {
  margin-left: 20px;
  margin-top: 15px;
  background: white;
  border-radius: 4px;
  padding: 15px;
  border-radius: 8px;
  background: white;
  font-size: 1.4rem;
}
.milestone-list > .milestone:not(:first-child) {
  border-top: 2px solid rgb(var(--border));
}
.milestone-list > .progress-bar {
  margin-top: 10px;
}

.milestone {
  display: flex;
  padding: 10px 0;
}
.milestone > .date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 4px;
  border: 2px solid rgb(var(--border-light));
  padding: 5px 10px;
  margin-right: 10px;
}
.milestone > .date > .month {
  font-size: 1.4rem;
  color: var(--font-600);
  font-weight: 700;
}
.milestone > .date > .day {
  font-size: 1.4rem;
  color: var(--font-800);
  font-weight: 700;
}
.milestone p {
  font-size: 1.6rem;
  color: var(--font-900);
  font-weight: 700;
}
.milestone span {
  font-size: 1.4rem;
  color: var(--font-600);
  font-weight: 600;
}

.avatar {
  --bg: rgb(var(--primary));
  width: 30px;
  height: 30px;
  background: var(--bg);
  border-radius: 50%;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-modal {
  background: white;
  border-radius: 6px;
  display: flex;
  flex-grow: 1;
}
.editor-modal > .content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 6px;
}
.editor-modal > .content > .title {
  font-size: 1.8rem;
  color: var(--font-900);
  font-weight: 800;
}
.editor-modal > .content > .editor {
  margin-top: 20px;
}
.editor-modal > .content > .sub-tasks {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 10px;
  border-left: 2px solid rgb(var(--border));
}
.editor-modal > .content > .sub-tasks > .title {
  font-size: 1.6rem;
  color: var(--font-800);
  font-weight: 700;
  display: flex;
  align-items: baseline;
}
.editor-modal > .content > .sub-tasks > .title > p {
  margin-right: 10px;
}
.editor-modal > .content > .sub-tasks > .tasks {
  font-size: 1.4rem;
  color: var(--font-800);
  margin-top: 15px;
  font-weight: 600;
}
.editor-modal > .content > .sub-tasks > .tasks > .sub-task {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.editor-modal > .content > .sub-tasks > .tasks > .sub-task > *:not(:last-child) {
  margin-right: 10px;
}
.editor-modal > .content > .sub-tasks > .tasks > .actions {
  display: flex;
  align-items: center;
}
.editor-modal > .content > .sub-tasks > .tasks > .actions > span {
  margin: 0 10px;
}
.editor-modal > .content > .actions {
  margin-top: 25px;
  display: flex;
}
.editor-modal > .settings {
  background: white;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.editor-modal > .settings > .attributes {
  margin-top: 15px;
}
.editor-modal > .settings > .attributes > .title {
  font-size: 1.6rem;
  color: var(--font-800);
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(var(--border));
}
.editor-modal > .settings > .attributes > .attribute-list {
  display: grid;
  grid-template-rows: auto;
  gap: 15px;
  margin-top: 15px;
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute {
  font-size: 1.4rem;
  color: var(--font-700);
  font-weight: 600;
  display: grid;
  grid-template-columns: 3fr 3fr 1fr;
  gap: 10px;
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute > .name {
  display: flex;
  align-items: center;
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute > .value {
  --color-raw: var(--primary);
  --text: rgb(var(--primary-text));
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background: rgba(var(--color-raw), 0.25);
  border-radius: 4px;
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute > .value.no-color {
  background: white;
  border: 1px solid rgb(var(--border));
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute > .value > .dot {
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  background: rgb(var(--color-raw));
}
.editor-modal > .settings > .attributes > .attribute-list > .attribute > .value > .icon {
  color: rgb(var(--color-raw));
  margin-right: 5px;
}
.editor-modal > .settings > .actions {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}
.editor-modal > .settings > .actions > :first-child {
  margin-right: 15px;
}

.editor {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid rgb(var(--border));
  background: white;
  border-radius: 6px;
  min-width: 500px;
  min-height: 300px;
}
.editor > .menu {
  border-top: 2px solid rgb(var(--border));
  margin-top: auto;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.editor > .menu > .group {
  display: flex;
}
.editor > .menu > .group:not(:first-child) {
  margin-left: 10px;
}
.editor > .menu > button {
  margin-left: auto;
}

[data-tooltip] {
  position: relative;
  --content: attr(data-tooltip);
}
[data-tooltip]::before {
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform-origin: top;
  transform: translate(-50%, 100%);
  font-size: 1.2rem;
  padding: 5px;
  background: var(--font-600);
  color: var(--font-100);
  border-radius: 4px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  content: var(--content);
  opacity: 0;
  z-index: 100;
}
[data-tooltip]:hover::before {
  visibility: visible;
  transition: opacity 150ms ease-in 0.3s;
  opacity: 0.85;
}