@use "../abstracts" as *;

.avatar {
    --color: #{color(primary)};
    --text: #{color(primary, text)};
    width: $avatar-size;
    height: $avatar-size;
    background: var(--color);
    color: var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.fullname 
    {
        --color: #{background(third)};
        width: unset;
        height: unset;
        padding: space(regular) space(medium);
        font-size: fontSize(medium);
        background-color: var(--color);
        color: fontColor(800);
        font-weight: 600;
        border-radius: borderRadius(medium);

    }
}