@use "../abstracts" as *;

.avatar {
    --color: #{color(primary)};
    --text: #{color(primary, text)};
    width: $avatar-size;
    height: $avatar-size;
    background: var(--color);
    color: var(--text);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
