button {
    @include material-shadow(2);
    @include flex-center();

    margin: 0;
    border: 0;
    padding: 0.5rem 0.75rem;
    background: get-color("color");
    color: get-font-color("primary");
    cursor: pointer;

    border-radius: get-border-radius("medium");
    user-select: none;
    
    font-size: get-font-size("regular");
    letter-spacing: 1px;

    transition: box-shadow 0.3s, background 0.3s;

    &:hover {
        @include material-shadow(6);
        background-color: var(--color-lighter);
    }

    &:disabled {
        cursor: initial;
        box-shadow: none !important;
        background: var(--disabled) !important;
    }

    & > span[class^=material-icons] {
        font-size: 2.25rem;
    }

    &.text {
        color: get-font-color("secondary");
    }

    &.flat,
    &.text {
        box-shadow: none;
    }

    &.flat:hover, &.text:hover {
        @include material-shadow(2);
        background-color: var(--color-lighter);
    }

    &.floating {
        @include material-shadow(6);

        &:hover {
            @include material-shadow(12);
        }
    }

    &.round {
        border-radius: 50%;
    }

    &.icon {
        padding: 0.3rem;
    }

    &.icon-text {
        font-weight: get-font-weight("bold");
    }

    &.icon-small > span {
        font-size: get-font-size("medium");
    }

    &.long {
        padding: get-gap("small") get-gap("huge");
    }

}