@use "../abstracts" as *;

.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    background: rgba(#000, 0.3);
    padding: space(huge);

    display: flex;
    justify-content: center;
    align-items: center;
}

.editor-modal {
    background: background(primary);
    max-height: 100%;
    border-radius: borderRadius(medium);
    overflow: hidden;

    display: flex;
    flex-grow: 1;

    & > .content {
        max-width: 50%;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-direction: column;

        padding: space(big);
        background: background(secondary);

        & > .title {
            @include font(900, big, 800);
        }

        & > .editor {
            margin-top: space(big);
            flex: 1;
            font-size: fontSize(medium);

            .CodeMirror {
                height: 500px;
            }

            .CodeMirror-fullscreen, .editor-toolbar.fullscreen {
                z-index: 9999999;
            }
        }

        & > .actions {
            margin-top: space(huge);
            display: flex;
        }
    }

    & > .settings {
        background: background(primary);
        padding: space(medium);
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        & > .attributes {
            margin-top: space(medium);

            & > .title {
                @include font(800, medium, 600);
                padding-bottom: space(regular);
                border-bottom: 2px solid color(border);
            }

            & > .attribute-list {
                display: grid;
                grid-template-rows: auto;
                gap: space(medium);
                margin-top: space(medium);

                & > .attribute {
                    @include font(700, regular, 600);
                    display: grid;
                    grid-template-columns: 3fr 3fr 1fr;
                    gap: space(regular);

                    & > .name {
                        display: flex;
                        align-items: center;
                    }

                    & > .value {
                        --color-raw: #{colorRaw(primary)};
                        --text: #{color(primary, text)};
                        display: flex;
                        align-items: center;
                        padding: space(small) space(regular);
                        border-radius: borderRadius(small);

                        &.disabled {
                            background: background(secondary);
                            border: 1px solid color(border);
                        }

                        & > .icon {
                            color: rgb(var(--color-raw));
                            margin-right: space(small);
                        }
                    }
                }
            }
        }

        & > .actions {
            margin-top: auto;
            display: flex;
            justify-content: flex-end;

            & > :first-child {
                margin-right: space(medium);
            }
        }
    }
}
