@use "../abstracts" as *;

body > header:not(.mobile) {
    @include material-shadow(4);
    display: flex;
    flex-direction: column;
    user-select: none;
    z-index: 999;

    & > h1 {
        @include font(900, huge, 900);

        margin: space(medium) 0 space(extreme) space(medium);
    }

    & > nav {
        @include font(900, medium, 700);

        margin-left: space(big);
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;

        & > .item {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: space(small);
            text-decoration: none;
            color: fontColor(900);
            padding: space(regular) space(small);
            border-radius: borderRadius(small) 0 0 borderRadius(small);

            &:hover,
            &:focus {
                outline: none;
                background: color(border, light, 0.9);
            }

            &.dropdown {
                display: inline-block;

                & > div {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }

                &:hover {
                    background: background(primary);
                }

                &::before {
                    @include pseudo-icon("chevron_right", "round");
                    position: absolute;
                    right: 9px;
                    font-weight: lighter;
                    font-size: 25px;
                    transition: transform 200ms ease-out;
                    cursor: pointer;
                }

                &.expanded {
                    & > ul {
                        visibility: visible;
                        opacity: 1;
                    }

                    &::before {
                        transform: rotate(90deg);
                    }
                }

                & > .text {
                    flex-grow: 1;
                }

                & > ul {
                    visibility: hidden;
                    opacity: 0;
                    margin-left: $icon-medium + space(regular);
                    color: fontColor(700);
                    transition: visibility 200ms ease-out, opacity 200ms ease-out;
                    height: 500px;
                    overflow-y: scroll;

                    & > li {
                        --project-color: #{color(primary)};
                        display: flex;
                        align-items: center;
                        margin-top: space(regular);
                        font-size: fontSize(regular);
                        padding: space(small);
                        border-radius: borderRadius(small);

                        &::before {
                            display: block;
                            content: "";
                            width: 10px;
                            height: 10px;
                            border-radius: 25%;
                            background: var(--project-color);
                            margin-right: space(small);
                        }

                        & > a {
                            text-decoration: none;
                            color: inherit;
                        }

                        &:hover {
                            transition: all 250ms ease;
                            color: fontColor(900);
                            background: background(third);
                        }

                        &.add {
                            &::before {
                                opacity: 0;
                            }

                            color: fontColor(500);
                        }
                    }
                }
            }

            &.active {
                color: color("primary");

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    width: 4px;
                    height: 100%;
                    background: color("primary");
                }
            }

            &.last {
                margin-top: auto;
            }
            & .text {
                margin-left: space(regular);
            }
        }
    }
}

body > header.mobile {
    box-sizing: border-box;
    height: 75px;

    & > nav {
        display: flex;
        flex-direction: row;
        padding: space(small);

        & > .item {
            @include font(700, small, 700);
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: borderRadius(small);

            &.active {
                color: color(primary);
            }
            &:hover {
                background: background(third);
            }
        }

        & > .menu {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            & > button {
                transform: translate(0, -33%);
                z-index: 999;
                color: color(primary, text);
                margin: 0 space(medium);

                &:not(:focus-within) + ul {
                    top: 0;
                    gap: 0;
                    opacity: 0;
                    z-index: -100;
                    transition: top 200ms ease-out;

                    & > li:last-child {
                        transform: translate(-100%, 0);
                        transition: transform 200ms ease;
                    }

                    & > li:first-child {
                        transform: translate(100%, 0);
                        transition: transform 200ms ease;
                    }
                }
            }

            & > ul {
                position: absolute;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: space(huge) + space(medium);
                top: -200%;
                z-index: 999;
                opacity: 1;
                z-index: 100;

                transition: top 200ms ease-out;

                & > li:first-child,
                & > li:last-child {
                    transition: transform 200ms ease;
                    transform: translate(0, 75%);
                }
                & > li > button {
                    font-size: fontSize(huge);
                    padding: space(regular);
                    color: color(primary, text);
                }
            }
        }
    }
}
