label {
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;

    .error-msg {
        font-size: get-font-size("small");
        padding: 0.25rem 1.5rem;
        color: get-color("error");
    }
}
