@use "../abstracts" as *;

ul.dropdown-menu {
    @include font(800, regular, 600);
    @include material-shadow(8);

    z-index: 99;
    max-width: 280px;

    padding: space(regular) 0;
    background: background(primary);
    position: absolute;
    border-radius: borderRadius(small);

    & > li {
        padding: space(regular) space(huge) space(regular) space(medium);
        display: grid;
        grid-template-columns: $icon-small 1fr $icon-small;
        gap: space(medium);
        white-space: nowrap;
        align-items: center;
        cursor: pointer;

        & > .icon {
            margin-right: space(medium);
            grid-column: 1;
        }

        & > .text {
            grid-column: 2;
        }

        &.divider {
            height: 1px;
            padding: 0;
            background: color(border) !important;
            margin: space(small) 0;
        }

        &.dropdown {
            position: relative;
            
            & > ul {
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 100;
                display: none;
            }

            &:hover:not(.disabled) > ul {
                display: block;
            }
        }

        &.dropdown::after {
            @include pseudo-icon("arrow_right", outlined);

            font-size: $icon-small;
        }

        &.disabled {
            color: fontColor(400);
            cursor: unset;
        }

        &:hover:not(.disabled) {
            background: background(third);
        }


    }
}
