$scrollbar: (
    width: 10px,
    border-radius: get-border-radius("small"),
    background: rgb(212, 212, 212),
    thumb-background: rgb(122, 122, 122),
);

::-webkit-scrollbar {
    width: map-get($scrollbar, "width");
}

::-webkit-scrollbar-track {
    background: map-get($scrollbar, "background");
    border-radius: map-get($scrollbar, "border-radius");
}
::-webkit-scrollbar-thumb {
    background-color: map-get($scrollbar, "thumb-background");
    border-radius: map-get($scrollbar, "border-radius");
}
