@use "../abstracts" as *;

.task-list {
    margin-top: space(big);
    flex: 1;

    & > .project {
        transition: all 250ms ease;
        margin-top: space(medium);

        &.expanded {
            & > .dropdown-header > h3::before {
                transform: rotate(90deg);
            }

            & > .container {
                height: auto;
                overflow: auto;
            }
        }

        & > .dropdown-header {
            @include font(900, big, 900);
            display: flex;
            align-items: center;

            & > h3 {
                display: flex;
                align-items: center;
                user-select: none;
                cursor: pointer;
    
                &::before {
                    @include pseudo-icon("chevron_right", "round");
    
                    font-size: $icon-small;
                    margin-right: space(small);
                    transition: transform 200ms ease-out;

                }
            }
    
            & > .line {
                flex-grow: 1;
                height: 2px;
                background: color(border);
                margin: 0 space(medium);
            }
        }

        & > .container {
            display: block;
            height: 0;
            overflow: hidden;
            padding-left: space(big);

            & > .task {
                cursor: pointer;
            }
        }
    }
}
