@import "themes_colors";
$colors: ();

@each $theme, $map in $themes {
    .theme-#{$theme} {
        @each $key, $value in $map {
            @if $key == 'colors' {
                @each $color-name, $color in $value {
                    @if not index($colors, $color-name) {
                        $colors: append($colors, $color-name);
                    }
                    $color-hex: rgb(nth($color, 1), nth($color, 2), nth($color, 3));

                    --#{$color-name}: #{$color};
                    --#{$color-name}-lighter: #{lighten($color-hex, 10%)};
                    --#{$color-name}-darker: #{darken($color-hex, 10%)};
                }
            }
            @else {
                --#{$key}: #{$value};
            }
        }
    }
}

@each $color in $colors {
    .#{$color} {
        --color: var(--#{$color}) !important;
        --border-color: var(--#{$color});
        --color-lighter: var(--#{$color}-lighter);
        --color-darker: var(--#{$color}-darker);
    }
}