$themes: (
    light: (
        colors: (
            primary: (255,152,0),
            secondary: (255,193,7),
            info: (33,150,243),
            warning: (245,127,23),
            error: (244,67,54),
            success: (76,175,80),
        ),
        disabled: rgb(200, 200, 200),
        disabled-lighter: rgb(230, 230, 230),
        disabled-darker: rgb(170, 170, 170),

        font-color-primary: rgb(242, 242, 242),
        font-color-secondary: rgb(0, 27, 41),
        font-color-third: rgb(194, 194, 194),

        font-color-input: rgb(150, 150, 150),
        font-color-input-darker: rgb(30, 30, 30),


        background-primary: rgb(0, 27, 41),
        background-secondary: rgb(255, 255, 255),
        background-third: rgb(250, 251, 255),

        background-input: rgb(235, 235, 235),
        background-input-darker: rgb(210, 210, 210),

        background-table-body: rgb(72, 72, 72),
        background-table-head: rgb(33, 33, 33),

        background-project-column: rgb(235, 235, 235)
    ),      
    dark: (
        colors: (
            primary: (255,152,0),
            secondary: (255,193,7),
            info: (33,150,243),
            warning: (245,127,23),
            error: (244,67,54),
            success: (76,175,80),
        ),
        disabled: rgb(200, 200, 200),
        disabled-lighter: rgb(230, 230, 230),
        disabled-darker: rgb(170, 170, 170),
    
        font-color-primary: rgb(242, 242, 242),
        font-color-secondary: rgb(0, 27, 41),
        font-color-third: rgb(194, 194, 194),

        font-color-input: rgb(150, 150, 150),
        font-color-input-darker: rgb(30, 30, 30),

        background-primary: rgb(0, 27, 41),
        background-secondary: rgb(255, 255, 255),
        background-third: rgb(250, 251, 255),

        background-input: rgb(235, 235, 235),
        background-input-darker: rgb(210, 210, 210),

        background-table-body: rgb(72, 72, 72),
        background-table-head: rgb(33, 33, 33),

        background-project-column: rgb(235, 235, 235)
    )
);
