main {
    display: flex;
    flex-direction: row;
}

#mainCalendar {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

#mainCalendar > .row {
    margin-bottom: 15px;
}
.calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.calendar .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-left: 50px;
    margin-right: 10px; /* SCROLL BAR */
    box-shadow: var(--shadow-1dp);
}

.calendar .days .name {
    font-size: var(--font-size-small);
    font-size: var(--font-size-small);
}

.calendar .days .day:first-child {
    border: 0;
}

.calendar .days .day {
    border-left: 1px solid var(--border-color-calendar);
    padding: 20px 0 5px 15px;
    color: var(--border-color-calendar);
}

.calendar .days .today {
    background: var(--primary);
    color: var(--font-color-secondary)
}

.calendar .days .number {
    font-size:  24px;
    font-weight: var(--font-weight-bold);
}

.calendar .assignments {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 45px auto;
}



.calendar .hours {
    display: grid;
    margin-top: calc(75px / 2);
    grid-template-rows: repeat(23, 75px);
}

.calendar .hour {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-light);
}

.calendar .lines {
    position: relative;
}


.calendar .horizontal {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(23, 75px);
    position: absolute;
    left: 0;
    top: 0;
}

.calendar .vertical {
    margin-left: 5px;
    height: 100%;
    width: calc(100% - 5px);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    position: absolute;
    left: 0;
    top: 0;
}

.calendar .vertical .today::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.15;
}

.calendar .horizontal .line {
    position: relative;
}

.calendar .horizontal .line::after {
    content: "";
    width: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    border-bottom: 1px solid var(--border-color);
}

.calendar .vertical .line {
    position: relative;
    border-left: 1px solid var(--border-color);
}

.calendar .vertical .line::after {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}


.sort {
    margin-right: 25px;
    margin-top: 50px;
}

.sort .category {
    margin-bottom: 15px;
}

.sort .name {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}

.sort .items {
    display: flex;
    flex-direction: column;
    padding: 5px 0 0 25px;
    font-size: var(--font-size-regular);
}

#date {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-regular);
}

#buttons {
    margin: 0 20px;
}

#switch {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    padding: 4px;
    border: 1px solid var(--border-color-calendar);
    border-radius: var(--border-radius-medium);
}

#switch > button {
    margin: 0 5px;
}