.projects {
    max-width: calc(100% - var(--gap-huge));
    width: calc(100% - var(--gap-huge));
    font-size: var(--font-size-medium);
    color: var(--font-color-primary);
    border-collapse: collapse;
}

.projects > thead > tr > td:first-child {
    border-radius: var(--border-radius-small) 0 0 0;
    -webkit-border-radius: var(--border-radius-small) 0 0 0;
    -moz-border-radius: var(--border-radius-small) 0 0 0;
    -ms-border-radius: var(--border-radius-small) 0 0 0;
    -o-border-radius: var(--border-radius-small) 0 0 0;
}

.projects > thead > tr > td:last-child {
    border-radius: 0 var(--border-radius-small) 0 0;
    -webkit-border-radius: 0 var(--border-radius-small) 0 0;
    -moz-border-radius: 0 var(--border-radius-small) 0 0;
    -ms-border-radius: 0 var(--border-radius-small) 0 0;
    -o-border-radius: 0 var(--border-radius-small) 0 0;
}

.projects > tbody > tr:last-child > td:last-child {
    border-radius: 0 0 var(--border-radius-small) 0;
    -webkit-border-radius: 0 0 var(--border-radius-small) 0;
    -moz-border-radius: 0 0 var(--border-radius-small) 0;
    -ms-border-radius: 0 0 var(--border-radius-small) 0;
    -o-border-radius: 0 0 var(--border-radius-small) 0;
}

.projects > tbody > tr:last-child > td:first-child {
    border-radius: 0 0 0 var(--border-radius-small);
    -webkit-border-radius: 0 0 0 var(--border-radius-small);
    -moz-border-radius: 0 0 0 var(--border-radius-small);
    -ms-border-radius: 0 0 0 var(--border-radius-small);
    -o-border-radius: 0 0 0 var(--border-radius-small);
}

.projects td {
    padding: var(--gap-medium);
}

.projects > thead  {
    background: var(--bg-table-header);
}

.projects > tbody {
    background: var(--bg-table);
}

.projects > tbody > tr {
    border-top: 1px solid var(--bg-table-header);
}

.projects > tbody td:first-child div {
    display: flex;
    flex-direction: column;   
}

.projects > tbody td:first-child h3 {
    margin-bottom: var(--gap-medium);
}

.projects > tbody td:first-child .progress {
    height: 0.7rem;
    width: 50%;
    position: relative;
    background: var(--progress);
    display: block;
    overflow: hidden;
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
}

.progress > .failed, .progress > .completed {
    position: absolute;
    height: 100%;
    border-radius: var(--border-radius-small);
    -webkit-border-radius: var(--border-radius-small);
    -moz-border-radius: var(--border-radius-small);
    -ms-border-radius: var(--border-radius-small);
    -o-border-radius: var(--border-radius-small);
}

.progress > .failed {
    left: 0;
    top: 0;
    background: var(--progress-failed);
}

.progress > .completed {
    right: 0;
    top: 0;
    background: var(--progress-completed);
}

#status > div{
    display: flex;
}

#status > div > div {
    margin-right: var(--gap-medium);
    opacity: 0.75;
}

#status > div > .active {
    opacity: 1;
    font-weight: var(--font-weight-bold);
}

#filter > div {
    display: flex;
    justify-content: flex-end;
}