.settings {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.settings .title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    margin-bottom: 25px;
}

.settings .menu {
    min-width: 150px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
}

.settings .menu .item {
    margin-bottom: 10px;
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-medium);
}

.settings .menu .item.active {
    color: var(--primary);
}

.avatar button {
    position: absolute;
    right: 0;
    bottom: 0;
}


.spaceY {
    margin-top: 25px;
}