@use "../abstracts" as *;

body {
    display: block;
    background: background(third);
}

.auth {
    @include material-shadow(4);
    padding: space(huge) space(big);
    background: background(primary);
    border-radius: borderRadius(medium);

    min-width: 33%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(mobile) {
        min-width: 100%;
        min-height: 100%;

        & > .container {
            flex-grow: 1 !important;
            padding-top: space(huge);
        }
        .full-width {
            flex-grow: unset;
        }

        a {
            margin-bottom: space(big);
        }

        .row > * {
            width: 45%;
            margin: 0;
        }

        button {
            margin-top: space(huge);
        }
        
    }

    & > h2 {
        margin-bottom: space(huge);
        font-size: fontSize(huge);
    }

    & > a {
        margin: space(regular) 0 space(medium) 0;
    }

    a, p {
        @include font(700, small);
    }

    a {
        color: color(info);
    }
}