// FUNCTIONS
@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

.projects {
    font-size: get-font-size("medium");
    color: get-font-color("primary");
    border-collapse: collapse;

    td {
        padding: get-gap("medium");
    }

    & > thead {
        background: get-background("table-head");

        & > tr {
            & > td:first-child {
                border-top-left-radius: get-border-radius("small");
            }

            & > td:last-child {
                border-top-right-radius: get-border-radius("small");
            }
        }
    }

    & > tbody {
        background: get-background("table-body");

        & > tr {
            border-top: 1px solid get-background("table-header");

            & > td:first-child {
                display: flex;
                flex-direction: column;

                & > h3 {
                    margin-bottom: get-gap("medium");
                }

                .progress {
                    height: 0.7rem;
                    width: 50%;
                    position: relative;
                    background: rgb(213, 0, 249);
                    display: block;
                    overflow: hidden;
                    border-radius: get-border-radius("small");

                    & > .failed,
                    & > .completed {
                        position: absolute;
                        height: 100%;
                        border-radius: inherit;
                        top: 0;
                    }

                    & > .failed {
                        left: 0;
                        background: rgb(255, 23, 68);
                    }

                    & > .completed {
                        right: 0;
                        background: rgb(118, 255, 3);
                    }
                }
            }

            &:last-child {
                & > td:first-child {
                    border-bottom-left-radius: get-border-radius("small");
                }

                & > td:last-child {
                    border-bottom-right-radius: get-border-radius("small");
                }
            }
        }
    }
}

#status > div {
    display: flex;

    & > div {
        margin-right: get-gap("medium");
        opacity: 0.75;
    }

    & > .active {
        opacity: 1;
        font-weight: get-font-weight("bold");
    }
}

#filter > div {
    display: flex;
    justify-content: flex-end;
}
