main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#columns {
  margin: 25px 15px 15px 0;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}
#columns > .column {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  min-width: 300px;
  background: var(--background-project-column);
  padding: 1.5rem;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
#columns > .column:not(:first-child) {
  margin-left: 1.5rem;
}
#columns > #addColumn {
  all: unset;
  cursor: pointer;
  margin-left: 1.5rem;
  min-width: 300px;
  height: 150px;
  border-radius: 5px;
  border: 2px dashed var(--font-color-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--font-color-secondary);
  font-size: 1.6rem;
}
#columns > #addColumn > span {
  font-weight: 600;
}
#columns > #addColumn:hover, #columns > #addColumn:focus {
  text-decoration: underline;
}
#columns .actions {
  display: flex;
  margin-left: auto;
  margin-right: 1.5rem;
}
#columns .title {
  font-size: 1.8rem;
  font-weight: 600;
}
#columns .tasks {
  overflow-y: auto;
  flex: 1;
  padding: 0 1rem 0 0;
  margin-top: 1.5rem;
  margin-right: 5px;
  transition: all 150ms ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#columns .tasks > .task {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  background: var(--background-secondary);
  border-radius: 5px;
}
#columns .tasks > .task:first-child {
  margin-top: 0;
}
#columns .tasks > .task:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
#columns .tasks > .task > .head {
  padding: 1rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
#columns .tasks > .task > .head > .name {
  font-size: 1.4rem;
}
#columns .tasks > .task > .content {
  display: flex;
  flex-direction: column;
}
#columns .tasks > .task > .content > .tags {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(var(--primary), 0.25);
}
#columns .tasks > .task > .content > .tags > .tag {
  font-size: 1.2rem;
  font-weight: 600;
  --tag-color: rgba(var(--info), 1);
  margin: 2px;
  position: relative;
  display: inline;
  padding: 1px 2px;
  color: var(--tag-color);
  border: 2px solid var(--tag-color);
  overflow: hidden;
  border-radius: 5px;
}
#columns .tasks > .task > .content > .tags > .tag::after {
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  position: absolute;
  background: var(--tag-color);
  opacity: 0.2;
}
#columns .tasks > .task > .content > .identifier {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 1rem;
}
#columns .tasks > .task > .content > .identifier::before {
  content: "#";
}
#columns .tasks > .task > .content > .priority {
  --tag-priority: rgba(var(--info), 1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 3px;
  width: 20px;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--tag-priority);
  border-radius: 5px;
}
#columns .tasks > .task > .footer {
  display: flex;
  padding: 0.5rem 1rem;
}
#columns .tasks > .task > .footer > .avatars {
  margin-left: auto;
}/*# sourceMappingURL=project.css.map */