@import "../abstracts/variables";
@import "../abstracts/functions";
@import "../abstracts/mixins";

main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#columns {
    margin: 25px 15px 15px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;

    & > .column {
        @include material-shadow(1);

        min-width: 300px;
        background: get-background("project-column");
        padding: get-gap("big");
        padding-right: 0;
        display: flex;
        flex-direction: column;
        border-radius: get-border-radius("medium");

        &:not(:first-child) {
            margin-left: get-gap("big");
        }
    }

    & > #addColumn {
        all: unset;
        cursor: pointer;
        margin-left: get-gap("big");
        min-width: 300px;
        height: 150px;
        border-radius: get-border-radius("medium");
        border: 2px dashed get-font-color("secondary");
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: get-font-color("secondary");

        font-size: get-font-size("medium");

        & > span {
            font-weight: get-font-weight("bold");
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    .actions {
        display: flex;
        margin-left: auto;
        margin-right: get-gap("big");
    }

    .title {
        @include font("big", "bold");
    }

    .tasks {
        overflow-y: auto;
        flex: 1;
        padding: 0 get-gap("medium") 0 0;
        margin-top: get-gap("big");
        margin-right: 5px;
        transition: all 150ms ease;
        user-select: none;

        & > .task {
            user-select: none;
            display: flex;
            flex-direction: column;
            margin-top: get-gap("big");
            background: get-background("secondary");
            border-radius: get-border-radius("medium");

            &:first-child {
                margin-top: 0;
            }

            &:active {
                cursor: grabbing;
            }

            & > .head {
                padding: get-gap("medium") get-gap("medium") 0 get-gap("medium");
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: get-font-weight("regular");

                & > .name {
                    font-size: get-font-size("regular");
                }
            }

            & > .content {
                display: flex;
                flex-direction: column;

                & > .tags {
                    user-select: none;
                    padding: 0 get-gap("medium");
                    display: flex;
                    flex-wrap: wrap;
                    padding-bottom: get-gap("medium");
                    border-bottom: 2px solid get-color("primary", 0.25);

                    & > .tag {
                        @include font("small", "bold");

                        --tag-color: #{get-color("info")};

                        margin: 2px;
                        position: relative;
                        display: inline;
                        padding: 1px 2px;
                        color: var(--tag-color);
                        border: 2px solid var(--tag-color);
                        overflow: hidden;
                        border-radius: get-border-radius("medium");

                        &::after {
                            display: block;
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            content: "";
                            position: absolute;
                            background: var(--tag-color);
                            opacity: 0.2;
                        }
                    }
                }
                & > .identifier {
                    @include font("small", "bold");

                    padding-left: get-gap("medium");

                    &::before {
                        content: "#";
                    }
                }

                & > .priority {
                    --tag-priority: #{get-color("info")};
                    user-select: none;
                    height: 3px;
                    width: 20px;
                    margin-left: get-gap("medium");
                    margin-bottom: get-gap("small");
                    background-color: var(--tag-priority);
                    border-radius: get-border-radius("medium");
                }
            }

            & > .footer {
                display: flex;
                padding: get-gap("small") get-gap("medium");

                & > .avatars {
                    margin-left: auto;
                }
            }
        }
    }
}
