@use "./../abstracts" as *;

// TODO: Dodělat
.file-field {
    position: relative;

    & > .field {
        outline: none;
        border-bottom: 1px solid color(border, dark);
        width: 100%;
        border-radius: borderRadius(small) borderRadius(small) 0 0;
        background: color(border, light);
        font-size: fontSize(medium);
        padding: space(medium) space(medium) space(small) space(medium);

        & > span {
            
        }

        & > input {
            display: none;
        }
    }
    & > .text {
        margin-top: space(small);
    }

}