@use "../abstracts" as *;

.milestone {
    display: flex;
    padding: space(regular) 0;

    & > .date {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: borderRadius(small);
        border: 2px solid color(border, light);
        padding: space(small) space(regular);
        margin-right: space(regular);

        & > .month {
            @include font(600, regular, 700);
        }

        
        & > .day {
            @include font(800, regular, 700);
        }
    }

    & p {
        @include font(900, medium, 700);
    }

    & span {
        @include font(600, regular, 600);
    }
}