:root {
    /* COLORS */

    
    --primary: rgb(255,152,0); /* 500 */
    --primary-hover: rgb(230,81,0); /* 900 */
    
    --secondary: rgb(255,193,7); /* 500 */
    --secondary-hover: rgb(255,160,0); /* 700 */
    
    --info: rgb(33,150,243); /* 500 */
    --info-hover: rgb(25,118,210); /* 700 */
    
    --warning: rgb(245,127,23);
    --warning-hover: rgb(255,111,0);

    --error: rgb(244,67,54); /* 500 */
    --error-hover: rgb(211,47,47); /* 700 */
    
    --success: rgb(76,175,80); /* 500 */
    --success-hover: rgb(56,142,60); /* 700 */
    

    --border-focus: rgb(240, 76, 0);
    
    /* BG */
    --bg-primary: rgb(0, 27, 41);
    --bg-secondary: rgb(255, 255, 255);
    --bg-third: rgb(250, 251, 255);
    --bg-table: rgb(72, 72, 72);
    --bg-table-header: rgb(33, 33, 33);
    
    --color: var(--bg-secondary);
    --font-color: var(--font-color-secondary);
    --hover: var(--bg-third);

    /* FONT */
    --font-color-primary: rgb(242, 242, 242);
    --font-color-secondary: rgb(0, 27, 41);
    --font-color-third: rgb(194, 194, 194);

    --font-color-label: rgb(103, 103, 103);
    --font-color-hover: rgb(0, 122, 184);

    --font-size-small: 1.2rem;
    --font-size-regular: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-big: 1.8rem;
    --font-size-huge: 2rem;

    --font-weight-light: 400;
    --font-weight-regular: 500;
    --font-weight-bold: 600; 
    --font-weight-black: 700;

    /* BORDER-RADIUS */
    --border-radius-small: 2px;
    --border-radius-medium: 5px;
    --border-radius-big: 10px;
    --border-radius-circle: 50%;

    /* PADDING / MARGIN */
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-big: 1.5rem;
    --gap-huge: 1.75rem;

    /* BUTTONS*/

    /* --border-color: #d9d9d9; */
    --button-disabled: rgb(103, 103, 103);
    --button-disabled-color: rgb(255, 255, 255);

    /* SHADOWS */
    --shadow-1dp: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
    --shadow-2dp: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
    --shadow-3dp: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px -2px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
    --shadow-4dp: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    --shadow-6dp: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    --shadow-8dp: 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
    --shadow-9dp: 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12), 0px 5px 6px -3px rgba(0, 0, 0, 0.2);
    --shadow-12dp: 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12), 0px 7px 8px -4px rgba(0, 0, 0, 0.2);
    --shadow-16dp: 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12), 0px 8px 10px -5px rgba(0, 0, 0, 0.2);
    --shadow-24dp: 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);

    /* COMPONENTS */
    --window-head: var(--bg-primary);

    --bg-column: rgb(235, 235, 235);
    --tag-color: var(--info);
    --tag-priority: var(--info);

    --border-color: rgb(125, 125, 125);
    
    --bg-scrollbar: rgb(212, 212, 212);
    --bg-scrollbar-thumb: rgb(122, 122, 122);

    --bg-search:rgb(245, 245, 245);


    --progress-failed: rgb(255, 23, 68);
    --progress-completed: rgb(118, 255, 3);
    --progress: rgb(213, 0, 249);
    --projects-border-color: var(--border-color);


    --requirement-color: rgb(161, 161, 161);
    --requirement-success: rgb(0,191,165);
    --requirement-error: rgb(244,67,54);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

/*#region SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-scrollbar);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
/*#endregion*/
/* #region BASIC*/
html {
    font-size: 62.5%; /* 1rem => 10px */
}

body {
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 50px 1fr;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    grid-column: 1/3;
    grid-row: 1;
    justify-content: space-between;
}

header,
aside {
    display: flex;
    box-shadow: var(--shadow-1dp);
    z-index: 100;
}

aside {
    color: var(--font-color-primary);
    background-color: var(--bg-primary);

    grid-column: 1;
    grid-row: 2;
    flex-direction: column;
    padding: var(--gap-big);
}

main {
    grid-column: 2;
    grid-row: 2;
    padding: var(--gap-huge);
    padding-bottom: 0;
    padding-right: 0;
    min-height: calc(100vh - 50px);
    overflow: auto;
}

h1 {
    font-size: var(--font-size-huge);
    width: 190px;
    background-color: var(--bg-primary);
    padding: 1.5rem;
    line-height: var(--font-size-huge);
    color: var(--font-color-primary);
}

h2 {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-black);
}

h3 {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-big);
}

.primary {
    --color: var(--primary);
    --hover: var(--primary-hover);
    --font-color: #FFF;
    --border-color: var(--primary);
    --border-focus: var(--primary);
}

.primary-focus {
    --border-focus: var(--primary);
}

.secondary {
    --color: var(--secondary);
    --hover: var(--secondary-hover);
    --font-color: #FFF;
    --border-color: var(--secondary);
    --border-focus: var(--secondary);
}

.secondary-focus {
    --border-focus: var(--secondary);
}

.info {
    --color: var(--info);
    --hover: var(--info-hover);
    --font-color: #FFF;
    --border-color: var(--info);
    --border-focus: var(--info);
}

.info-focus {
    --border-focus: var(--info);
}

.success {
    --color: var(--success);
    --hover: var(--success-hover);
    --font-color: #FFF;
    --border-color: var(--success);
}

.success-focus {
    --border-focus: var(--success);
}

.error {
    --color: var(--error);
    --hover: var(--error-hover);
    --font-color: #FFF;
    --border-color: var(--error);
}

.error-focus 
{
    --border-focus: var(--error);
}


/* #endregion */
/* #region HEADER*/
.tabs {
    display: flex;
    font-size: var(--font-size-medium);
    margin-left: var(--gap-big);
}

.tab {
    margin: 0 var(--gap-medium) 0 0;
    font-size: var(--font-size-medium);
    color: var(--font-color-secondary);

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    font-weight: var(--font-weight-bold);

    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-decoration: none;

    border-bottom: 2px solid transparent;

    transition: border-bottom 0.3s, color 0.3s;
    -webkit-transition: border-bottom 0.3s, color 0.3s;
    -moz-transition: border-bottom 0.3s, color 0.3s;
    -ms-transition: border-bottom 0.3s, color 0.3s;
    -o-transition: border-bottom 0.3s, color 0.3s;
}
.tab:not(.active):hover, .tab:not(.active):focus{
    color: var(--primary-hover);
}

.tabs .active {
    color: var(--primary);
    border-bottom-color: var(--primary);
}

header > .actions {
    margin-right: 20px;
    display: flex;
    align-items: center;
}


/* #endregion */
/* #region SIDEBAR*/

aside .team {
    margin: var(--gap-big) 0 0 0;
    display: flex;
    align-items: center;
}

aside .team .name {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-regular);
}

aside .team .members-count {
    color: var(--font-color-third);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-small);
}
aside .team .icon {
    width: 26px;
    height: 26px;
    margin-right: 5px;
    background: var(--primary);
    border-radius: 50%;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

aside .team .icon::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--bg-primary);
    width: 16px;
    height: 16px;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* #endregion */
/* #region BUTTONS */
button {
    margin: 0;
    border: 0;
    padding: 0.5rem 0.75rem;
    background: var(--color);
    color: var(--font-color) !important;
    cursor: pointer;

    border-radius: var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    letter-spacing: 1px;
    font-size: var(--font-size-regular);
    color: var(--font-color-secondary);

    /*CENTERTEXT*/
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow-2dp);

    transition: box-shadow 0.3s, background 0.3s;
    -webkit-transition: box-shadow 0.3s, background 0.3s;
    -moz-transition: box-shadow 0.3s, background 0.3s;
    -ms-transition: box-shadow 0.3s, background 0.3s;
    -o-transition: box-shadow 0.3s, background 0.3s;
    
}

button > span[class^=material-icons] {
    font-size: 2.25rem;
}

button.flat, button.text {
    box-shadow: none;
}

button.floating {
    box-shadow: var(--shadow-4dp);
}

button.floating:hover, button.floating:focus {
    box-shadow: var(--shadow-12dp);
}

button.flat:hover {
    box-shadow: var(--shadow-2dp);
    background: var(--hover);
}

button:disabled {
    cursor: initial;
    box-shadow: none !important;
    background: var(--button-disabled) !important;
    color: var(--button-disabled-color) !important;
}

button:hover, button:focus {
    box-shadow: var(--shadow-6dp);
    background: var(--hover);
}

button.round {
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}

button.icon {
    padding: 0.3rem;
}

button.icon-text {
    font-weight: var(--font-weight-bold);
}

button.icon-small > span {
    font-size: var(--font-size-medium);
}

button.text:hover, button.text:focus {
    box-shadow: var(--shadow-2dp);
}

button.long 
{
    padding: var(--gap-small) var(--gap-huge); 
}


/* #endregion */
/* #region AVATAR */
.avatar {
    --avatar-color: var(--primary);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-width: 34px;
    min-height: 34px;
    padding: 0.5rem;
    border-radius: var(--border-radius-circle);
    font-size: var(--font-size-small);
    line-height: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    color: var(--font-color-primary);
    background: var(--avatar-color);
    position: relative;
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
}

.avatar.big {
    min-width: 100px;
    min-height: 100px;
}

.avatar.arrow {
    margin-right: 27px;
    cursor: pointer;
}

.avatar.arrow::after {
    position: absolute;
    right: -75%;
    display: block;
    color: var(--font-color-secondary);
    font-weight: var(--font-weight-bold);
    font-size: 22px;
    font-family: 'Material Icons Outlined';
    content: "expand_more";
}

.avatars {
    display: flex;
}
.avatars .avatar:not(:first-child) {
    margin-left: -5px;
    box-shadow: 0 0 0 4px var(--bg-secondary);
}
/*#endregion*/
/* #region MAIN*/
main > h2 {
    margin-bottom: var(--gap-big);
}

main > .avatars {
    margin-bottom: var(--gap-huge);
}

main > .avatars > button {
    margin-left: var(--gap-huge);
}

.actions > *:not(first-child) {
    margin-left: var(--gap-medium);
}

/* #endregion */
/*#region INPUTS */

.label-error {
    display: flex;
    flex-direction: column;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

label.error > span 
{
    color: var(--error) !important; 
}


.error-text 
{
    display: flex;
    align-items: center;
    padding-left: var(--gap-small);
    font-size: var(--font-size-small);
    color: var(--error);
}
.checkbox {
    cursor: pointer;
    margin-right: 10px;
    --checkbox-color: rgba(0, 0, 0, .54);
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 0;
    border-radius: 2px;
}
.checkbox .bg {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 2px solid rgba(0,0,0,.54);
    border-radius: 2px;
}

input:checked ~ .checkbox .bg {
    border: 0;
    background: var(--primary);
    --checkbox-color: var(--primary);
}

.checkbox .bg::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 3px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

.checkbox .bg::after {
    pointer-events: none;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border-radius: var(--border-radius-circle);
    opacity: 0.07;
    transition: 300ms opacity, 300ms background, 50ms width, 50ms height;
}

input:checked ~ .checkbox .bg::after {
    -webkit-animation: checkboxCheck 300ms ease-in-out;
            animation: checkboxCheck 300ms ease-in-out;
}
input:not(:checked) ~ .checkbox .bg::after{
    -webkit-animation: checkboxUncheck 300ms ease-in-out;
            animation: checkboxUncheck 300ms ease-in-out;
}

@-webkit-keyframes checkboxCheck {
    0% {
        background: var(--checkbox-color);
        width: 30px;
        height: 30px;
        opacity: 0.5;
    }
    100% {
        width: 40px;
        height: 40px;
        opacity: 0.1;
    }
}

@keyframes checkboxCheck {
    0% {
        background: var(--checkbox-color);
        width: 30px;
        height: 30px;
        opacity: 0.5;
    }
    100% {
        width: 40px;
        height: 40px;
        opacity: 0.1;
    }
}

@-webkit-keyframes checkboxUncheck {
    0% {
        background: var(--checkbox-color);
        width: 30px;
        height: 30px;
        opacity: 0.5;
    }
    100% {
        width: 40px;
        height: 40px;
        opacity: 0.1;
    }
}

@keyframes checkboxUncheck {
    0% {
        background: var(--checkbox-color);
        width: 30px;
        height: 30px;
        opacity: 0.5;
    }
    100% {
        width: 40px;
        height: 40px;
        opacity: 0.1;
    }
}

.checkbox .bg:hover::after{
    transition: none;
    width: 40px;
    height: 40px;
    opacity: 0.07;
    background: var(--checkbox-color);
}


input[type='checkbox'] {
    width: 0;
    height: 0;
}

input::-ms-reveal,
input::-ms-clear {
display: none;
}

input[type=text],
input[type=password],
input[type=email]
{
    width: 100%;
    transition: border-color 250ms;
    outline: none;
    padding: var(--gap-medium);
    font-weight: var(--font-weight-bold);
    border: 2px solid var(--border-color);
    border-radius: var(--border-radius-medium);
    background: var(--bg-secondary);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

label.input-open input {
    border: 2px solid var(--border-color);
    border-right: 0;
    border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    -webkit-border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
}

.input-close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: calc(var(--gap-medium) - 1px);
    padding-left: 0;
    justify-content: center;
    transition: border-color 250ms;
    border: 2px solid var(--border-color);
    font-weight: var(--font-weight-bold);
    background: var(--bg-secondary);
    border-left: 0;
    color: var(--font-color-secondary);
    height: 100%;
    border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    -webkit-border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    -moz-border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    -ms-border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    -o-border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
    -webkit-transition: border-color 250ms;
    -moz-transition: border-color 250ms;
    -ms-transition: border-color 250ms;
    -o-transition: border-color 250ms;
}

label.text > span:not(.error) {
    line-height: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    left: 15px;
    padding: 0 5px 2px 5px;
    background: var(--bg-secondary);
    transition: top 250ms;
    font-size: var(--font-size-regular);
    color:var(--font-color-label);
}

label.text input:not(:valid) ~ span {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

label.text input ~ span,
label.text input:focus ~ span {
    top: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

label.text input:focus, label.text input:focus ~ .input-close {
    border-color: var(--border-focus);
}


.requirements {
    margin-left: var(--gap-huge);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    font-size: var(--font-size-small);
}

.requirements > li {
    display: inline;
    float: left;
    padding-left: 25px;
    position: relative;
    margin: var(--gap-small) 0;
    color: var(--requirement-color);
}

.requirements > li::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: var(--requirement-color, --color);
    top: 50%;
    width: 15px;
    height: 15px;
    border-radius: var(--border-radius-circle);
    -webkit-border-radius: var(--border-radius-circle);
    -moz-border-radius: var(--border-radius-circle);
    -ms-border-radius: var(--border-radius-circle);
    -o-border-radius: var(--border-radius-circle);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.requirements > li.success {
    --requirement-color: var(--requirement-success);
}

.requirements > li.error {
    --requirement-color: var(--requirement-error);
}

/* #endregion */
/*#region WINDOW*/
.window {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    min-width: 50%;
    max-width: 100%;
    overflow: auto;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-8dp);
    -webkit-border-radius: var(--border-radius-medium);
    -moz-border-radius: var(--border-radius-medium);
    -ms-border-radius: var(--border-radius-medium);
    -o-border-radius: var(--border-radius-medium);
}

.window .head {
    width: 100%;
    height: 45px;
    background: var(--window-head);
    display: flex;
    align-content: center;
    padding: var(--gap-big) var(--gap-medium);
    user-select: none;
}
.window .title {
    display: inline;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-regular);
    color: var(--font-color-primary);
}

.window .head > button {
    margin-left: auto;
    padding: 0;
    color: var(--font-color-primary) !important;
    background: transparent !important;
    box-shadow: unset !important;
    font-size: var(--font-size-regular);
}

.window .head span {
    font-size: var(--font-size-medium);
}


.window .content {
    min-height: 50px;
    padding: var(--gap-medium) var(--gap-big);
    background: var(--bg-secondary);
    font-size: var(--font-size-medium);
}

/*#endregion*/